$primaryFont: (
  (normal, 200, 'Montserrat-Thin'),
  (italic, 200, 'Montserrat-ThinItalic'),
  (normal, 300, 'Montserrat-Light'),
  (italic, 300, 'Montserrat-LightItalic'),
  (italic, 400, 'Montserrat-Italic'),
  (normal, 400, 'Montserrat-Regular'),
  (normal, 500, 'Montserrat-Medium'),
  (italic, 500, 'Montserrat-MediumItalic'),
  (normal, 700, 'Montserrat-Bold'),
  (italic, 700, 'Montserrat-BoldItalic')
);

@each $fontStyle, $fontWeight, $fontName in $primaryFont {
  @font-face {
    font-family: 'Montserrat';
    src: url("/fonts-montserrat/#{ $fontName }.ttf") format("truetype");
    font-weight: $fontWeight;
    font-style: $fontStyle;
    font-display: swap;
  }
}
