@use './variables' as var;
@use './mixins';
@import './fonts';
@import './reset';

html {
  font-family: var.$secondaryFont;
  color: mixins.color(dark);
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
}

body {
  width: 100%;
  background-color: mixins.color(light);
}

#__next {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var.$primaryFont;
  font-weight: bold;
  color: mixins.color(darken);
}

a {
  color: mixins.color(primary);
  text-decoration: none;
}

button:focus {
  cursor: pointer;
  outline-color: mixins.color(primary);
}

@each $colorName in map-keys(var.$colors) {
  .text-#{'' + $colorName} {
    color: mixins.color($colorName);
  }
}
